# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.BulkCSV_Generator.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\gecko\RiderProjects\BulkCSV_Generator\.idea\.idea.BulkCSV_Generator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
